application_shelf/.DS_Store
application_shelf/applshelf_client/.DS_Store
application_shelf/applshelf_client/libserialport.dylib
application_shelf/applshelf_client/bin/.DS_Store
application_shelf/applshelf_client/bin/applshelf_client
application_shelf/applshelf_client/libserialport.dylib
application_shelf/applshelf_client/bin/libserialport.dylib
application_shelf/applshelf_client/bin/applshelf_client.exe
application_shelf/applshelf_client/libserialport.dylib
application_shelf/applshelf_client/make_script.txt
